.bottom-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #003250; /* Rasmdagi to'q ko'k */
    color: white;
    padding: 10px 20px 25px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1000;
    box-sizing: border-box;
    transition: 0.3s;
}

.accuracy-text {
    text-align: center;
    font-size: 13px;
    color: #adadad;
    margin: 10px 0;
}

.data-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 15px;
}

.label {
    width: 90px;
    color: #adadad;
}

.value {
    flex: 1;
}

.copy-box {
    text-align: center;
    font-size: 11px;
    padding-left: 10px;
}

.action-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.main-btn {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #34495e;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.share-btn {
    background: #446580; /* Sal ochroq ko'k */
}

.toggle-btn {
    text-align: center;
    padding: 5px;
}
